<h1>Eat Da Burger!</h1>

<img src="/assests/images/burger.jpg" alt="Burger Picture"></img>

<h2>Burger Choices!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgername">Burger Name:</label>
    <input type="text" id="burgername" name="name">
  </div>

  <button type="submit"><i class="fas fa-hamburger"></i>Add Burger</button>
</form>